/* html {
  font-size: 62.5%;
} */

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  background: #ffffff;
  width: 100%;
  height: 100%;
  color: #000000;
  margin: 0;
}

.container {
  margin: 0;
  padding-top: 3rem;
}

header {
  margin-bottom: 2.5rem;
  padding-top: 8px;
  padding-left: 2rem;
  font-family: "Noto Sans JP", sans-serif;
}

header p {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.line-2 {
  font-weight: 500;
}

.line-1 h1 {
  padding-left: 2.5rem;
  margin-top: 16px;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  display: inline-block;
  margin-right: 61%;
}

.line-1 img {
  display: inline-block;
  width: 3rem;
  margin-left: 1rem;
}

.line-1 :last-child {
  transform: rotate(90deg);
}

.thin-line {
  background-color: #CBD6E0;
  height: 1px;
  width: 100%;
  margin-bottom: 2rem;
}

.HeaderCard {
  margin: 0 2rem;
  font-weight: 400;
}

.HeaderCardSmall {
  position: relative;
  display: inline-block;
  width: 28%;  
}

.HeaderCardSmallSecondChild {
  position: relative;
  display: inline-block;
  width: 36%;
}

.HeaderCardSmallThirdChild {
  position: relative;
  display: inline-block;
  width: 28%;  
}

.HeaderCardSmall h1 {
  margin: 0 1rem;
  position: relative;
  bottom: 1.3rem;
  font-weight: 400;
  right: 1rem;
}

.HeaderCardSmallSecondChild h1 {
  margin: 0 0 0 1.5rem;
  position: relative;
  bottom: 1.1rem;
  font-weight: 400;
}

.HeaderCardSmallThirdChild h1 {
  margin: 0.2rem 0 0 4rem;
  position: relative;
  bottom: 1rem;
  font-weight: 400;
}

.HeaderCardSmall div {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  bottom: 0.5rem;
  right: 1rem;
}

.HeaderCardSmallSecondChild div {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  bottom: 1.8rem;
}

.HeaderCardSmallThirdChild div {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  bottom: 1.8rem;
}

.HeaderCardSmallSecondChild * {
  display: inline-block;
}

.HeaderCardSmallThirdChild * {
  display: inline-block;
}

.HeaderCardSmall * {
  display: inline-block;
}

.location {
  width: 3rem;
  margin-top: 0.5rem;
}

.location-2 {
  position: relative;
top: 0.8rem;
  width: 2rem;
}

.location-3 {
  position: relative;
top: 1.1rem;
  width: 2rem;
}

.thin-vertical-line {
  background-color: #CBD6E0;
  height: 3.5rem;
  width: 1px;
  margin: auto 1rem;
  display: inline-block;
}

input {
  background-color: #EDF2F7;
  width: 90%;
  height: 7rem;
  font-size: 2.3rem;
  padding-left: 2rem;
  margin: auto 3%;
  opacity: 90%;
  border-style: none;
  border-radius: 1rem;
  position: relative;
  margin-bottom: 3rem;
}

.box-section {
  margin-bottom: 5rem;
  overflow-x: auto;
	white-space: nowrap;
}

.box {
  display: inline-Block;
  height: 20rem;
  overflow: hidden;
}

.left-box {
  background-color: #227EFF;
  border-radius: 0 0.5rem 0.5rem 0;
  width: 20rem;
  margin-right: 2%;
}

.middle-box {
  width: 53rem;
  background-color: #003277;
  border-radius: 1rem;
  margin-right: 2%;
}

.right-box {
  background-color: #EE6F44;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 20rem;
}

.none {
  display: none;
}

.show {
  position: relative;
}

.inv-box {
    background-image: linear-gradient(179.33deg, #0350BB 0.57%, rgba(3, 80, 187, 0) 114.02%);
    height: 24rem;
    width: 25%;
    display: inline-block;
    opacity: 30%;
    position: relative;
}

.inv-box-1 {
  transform: matrix(0.82, -0.32, 0.76, 0.9, 0, 0);
  margin-right: 10rem;
  left: 1rem;
  bottom: 9rem;
}

.inv-box-2 {
  left: 21rem;
    top: 10rem;
  transform: matrix(0.82, -0.32, 0.76, 0.9, 0, 0);
}

.mother-text {
  position: absolute;
  top: 0;
  font-size: 1.8rem;
  color: white;
  margin: 5rem auto;
  width: 100%;
  letter-spacing: 0.15rem;
}

.mother-text-div {
  display: inline-block;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 6rem;
}

.issues-text {
  font-weight: 500;
  line-height: 3rem;
  margin: 0 auto;
}

span {
  color: #EE6F44;
}

button {
  background-color: #227EFF;
  font-size: 1.5rem;
  height: 5.5rem;
  width: 16.5rem;
  font-weight: 300;
  color: white;
  border-radius: 1rem;
  letter-spacing: 0.15rem;
  border-style: none;
  position: relative;
  bottom: 1.5rem;
}

.smallball {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
}

.orange {
  background-color: #EE6F44;
}

.dark-yellow {
  background-color: #FFC042;
}

.yellow {
  background-color: #FFD175;
}

.green {
  background-color: #07D571;
}

.big {
  height: 6px;
  width: 6px;
}

.small {
  height: 5px;
  width: 5px;
}

.ball-one {
  top: 9rem;
}

.ball-two {
  top: 17.5rem;
  left: 1.5rem;
}

.ball-three {
  top: 3rem;
  left: 8.5rem;
}

.ball-four {
  top: 4rem;
  left: 13rem;
}

.ball-five {
  top: 12.5rem;
  left: 21rem;
}

.ball-six {
  top: 8.6rem;
  left: 22.2rem;
}

.ball-seven {
  top: 5.8rem;
  left: 23.3rem;
}

.ball-eight {
  top: 0.3rem;
  right: 26rem;
}

.ball-nine {
  top: 11rem;
  right: 23.5rem;
}

.ball-ten {
  bottom: 7rem;
  right: 22rem;
}

.ball-eleven {
  bottom: 9rem;
  right: 21.4rem;
}

.product-card {
  margin: auto 3%;
  margin-bottom: 3rem;
}

.small-product-card {
  width: 20%;
  display: inline-block;
  text-align: center;
}

.small-product-card-p {
  font-weight: 400;
  font-size: 1.65rem;
  color: #29394F;
  margin-top: 0.8rem;
}

.small-card {
  width: 8rem;
  height: 8rem;
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  display: inline-block;
}

.blue-product {
  background-color: #227EFF;
}

.orange-product {
  background-color: #EE6F44;
}

.purple-product {
  background-color: #7E42F5;
}

.green-product {
  background-color: #05944F;
}

.product-card-icons-div {
  position: relative;
  top: 2rem;
}

.icon-img {
  width: 3rem;
}

.thumb {
  width: 2.5rem;
}

.shop {
  width: 4rem;
}

.fire-icon {
  position: absolute;
  width: 1.5rem;
  top: 1.8rem;
  left: 3.2rem;
}

.wrist-icon {
  position: relative;
  bottom: 0.4rem;
  width: 1.1rem;
}

.margin-right {
  margin-right: 6.5%;
}

.move-top {
  position: absolute;
}

.creation {
  margin-bottom: 17rem;
}

.three-cards {
  width: 28%;
  margin-left: 4%;
  display: inline-block;
  z-index: 0;
  position: relative;
  /* visibility: hidden; */
}

.prod-img {
  border-radius: 1rem;
  height: 17rem;
  width: 17rem;
}

.paragraph1 {
  color: #718596;
  font-size: 1.65rem;
  font-weight: 400;
  line-height: 2.5rem;
  max-width: 90%;
  margin-bottom: 0;
}

.paragraph2 {
  color: #071827;
  font-weight: 700;
  font-size: 1.9rem;
  margin: 0.5rem auto;
}

.paragraph3 {
  color: #56636D;
  margin: 0;
  font-weight: 400;
  font-size: 1.6rem;
}

footer {
  position: fixed;
  bottom: 0;
  font-weight: 400;
  font-size: 1.9rem;
  color: #718596;
  height: 12rem;
  padding-top: 4rem;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 0px -8px 28px rgba(0, 0, 0, 0.08);
}

.footer-card {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.footer-card img {
  max-width: 30%;
}

.footer-card p {
  margin: 1rem auto 0;
}

.header-details {
  vertical-align: middle;
  margin: auto 5% 2rem;
}

.four-corner {
  background-color: rgb(237, 242, 247);
  width: 4rem;
  height: 4rem;
  border-radius: 15%;
  position: relative;
  bottom: 0.5rem;
  right: 1rem;
  display: inline-block;
  text-align: center;
  margin-right: 33%;
}

.details-heading {
  width: 20%;
  display: inline-block;
  font-size: 2.5rem;
  margin: 0;
  margin-right: 20%;
  text-align: center;
  position: relative;
    bottom: 1rem;
}

.four-corner img {
  margin-top: 0.5rem;
  width: 3rem;
}

.round-edge {
  background-color: rgb(237, 242, 247);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  bottom: 0.5rem;
  right: 1rem;
  display: inline-block;
  text-align: center;
}

.round-edge img {
  margin-top: 0.5rem;
  width: 3rem;
}

.cart-side {
  margin-left: 5%;
}

.cart-increament {
  background-color: rgb(238, 111, 68);
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    border-radius: 50%;
}

.cart-increament p {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
  bottom: 1.2rem;
}

.body-details-container{
  height: 45rem;
  width: 100%;
  background-color: #E2E9F0;
  text-align: center;
}

.body-details-container img{
  height: 86%;
  width: 85%;
  background-color: #E5E5E5;
  border-radius: 5%;
  margin: 5% auto;
}

.thin-line-2 {
  background-color: #CBD6E0;
  height: 0.5rem;
  width: 100%;
}

.product-details {
  padding: 1rem 2.3rem 0;
}

.product-name {
  font-size: 2.4rem;
  font-weight: 400;
  color: #212C3D;
  margin-bottom: 0.5rem;
  text-size-adjust: 100%;
  display: inline-block;
}

.product-specifics {
  color: #627483;
  font-weight: 400;
  font-size: 1.9rem;
  margin-top: 0;
  text-size-adjust: 100%;
  letter-spacing: 0.04rem;
  line-height: 3.5rem;
}

.product-price {
  font-weight: 700;
  font-size: 2.7rem;
  text-size-adjust: 100%;
  color: #212C3D;
  ;
}

.product-price-span {
  color: #627483;
  font-size: 2rem;
  font-weight: 400;
}

.product-description {
  padding: 0 2.3rem;
  color: #212C3D;
  margin: 2.5rem 0;
}

.product-description p {
  font-size: 2.4rem;
  font-weight: 400;
  color: #212C3D;
  text-size-adjust: 100%;
  display: inline-block;
  margin: 0 56% 0 0;
}

.product-description img {
  position: relative;
  top: 0.5rem;
  width: 2.5rem;
}

.reviews {
  margin: 2.5rem 2.3rem;
  text-size-adjust: 100%;
  font-size: 2.3rem;
  font-weight: 400;
  text-size-adjust: 100%;
}

.reviews-first-row {
  margin: 2.5rem auto;
}

.reviews-first-row p {
  display: inline-block;
  margin: 0;
}

.reviews-first-row :first-child {
  margin-right: 48%;
  color: #212C3D;
}

.reviews-first-row :nth-child(2) {
  color: #227EFF;
}
